# Python
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
*.sqlite3
env/
venv/
venv.bak/
env.bak/

# Django
*.log
*.pot
media/
staticfiles/

# Django migrations
.mypy_cache/

# Node.js specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
.pnpm-debug.log

# Logs
logs/
*.log
*.log.*
/*.log
/logs/

# Build and output directories
dist/
build/

# Vite specific
.vite/
*.cache

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Editor and IDE files
.idea/
.vscode/
*.swp
*.swo
*.swn

# Test coverage
coverage/

# Miscellaneous
*.tgz
*.temp
*.bak
*.old

# React specific
public/**/*.cache

# Temporary files
tmp/
temp/

# Local files for debugging
debug/
local/

*.pem

todo.txt

